# ENV / Secret Keys
.env
.env.*
!.env.example

# Parth Secrets
Parth/ai-ml/.env

# Vaibhav Secrets
Vaibhav/backend/.env
Vaibhav/backend/config/firebase-service-account-new.json
Vaibhav/backend/config/firebase-service-account*.json

# Private Uploads
Vaibhav/backend/private_uploads/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Frontend
node_modules/
dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

Parth/ai-ml/source_detection/data/source_data.csv
Parth/ai-ml/source_detection/models/